<a href="https://colab.research.google.com/github/Igorswrk/university-artificial-intelligence/blob/master/RegressaoLinear.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [36]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [37]:
path_to_ds = "/content/drive/MyDrive/Universidade/IA/cadidatos.csv"
df_input = pd.read_csv(path_to_ds) 
df_input

   experience  test_score  interview_score  salary
0         NaN         8.0                9   50000
1         NaN         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         NaN                7   72000
7        11.0         7.0                8   80000
8         1.0         6.0                6   40000

In [38]:
df_input.columns

Index(['experience', 'test_score', 'interview_score', 'salary'], dtype='object')

In [41]:
df_input["experience"] = df_input["experience"].fillna(0)
df_input["test_score"] = df_input["test_score"].fillna(0)
df_input

   experience  test_score  interview_score  salary
0         0.0         8.0                9   50000
1         0.0         8.0                6   45000
2         5.0         6.0                7   60000
3         2.0        10.0               10   65000
4         7.0         9.0                6   70000
5         3.0         7.0               10   62000
6        10.0         0.0                7   72000
7        11.0         7.0                8   80000
8         1.0         6.0                6   40000

In [45]:
req = linear_model.LinearRegression()
req.fit(df_input[["experience", "test_score", "interview_score"]], df_input["salary"])

LinearRegression()

In [46]:
req.coef_

array([3323.77308284, 1175.76455269, 2626.08867962])

In [49]:
candidato_test = [[5, 6, 7]]
req.predict(candidato_test)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  "X does not have valid feature names, but"

array([59995.08383895])